.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft, .itemRight {
    width: 15%;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;

  }
  
  .itemCenter {
      width: 70%;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bolder;
      padding-top: 20px;
  }
  
  
  .navbar  {
    background: black;
    box-shadow: 0 3px 6px #999, 0 3px 6px #999;
    margin-bottom: 50px;
  }

  
  li {
    color: white;
  }
  
  body {
    font-size: 24px;
  }
